* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.webgl {
    height: 100px;
    width: 100px;
  /* position: fixed;
  top: 0;
  left: 0;
  outline: none; */
}

button {
  text-transform: none;
  margin: 0.25rem;
}
